*{

position: relative;
}

.mb-1{

  background-color:blue;
}


.footer{

position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 text-align: center;
 color:white;
 background-color:blue;
}

 .footer .footer-copyright a{
   text-decoration: none;
   color:white;
 }

.header{
  margin-top:-10px;
  background-image: url("../Assets/img/background.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-1{

  margin: 30px;
  padding:40px;

}

.heading-1 .row .col-3{

  text-align: center;
  padding: 20px;
  margin-left: 80px;
}



 /* Signup */


.main{
  background-color: blue;
}
